@page
@model MyBookLibrary.Pages.JsonParser
@{
}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<h2>JSON Parser</h2>

<div>
    <label for="jsonInput">JSON Input:</label>
    <textarea id="jsonInput" asp-for="JsonData"></textarea>
</div>

<div>
    <label for="keyInput">Key:</label>
    <input id="keyInput" asp-for="Key" />
</div>

<div>
    <button type="button" id="Save">Find Value</button>
</div>

<div>
    <label>Value:</label>
    <span id="valueResult">@Model.Value</span>
</div>

@section Scripts {
   @* <script>
        function parseJson() {
            var jsonData = document.getElementById("jsonInput").value;
            var key = document.getElementById("keyInput").value;

            // Send the JSON data and key to the server for processing
            $.ajax({
                type: "POST",
                url: "/JsonParser/FindValue",
                data: { json: jsonData, key: key },
                success: function (result) {
                    // Update the value result on the page
                    document.getElementById("valueResult").innerText = result;
                }
            });
        }
    </script>*@

    <script type="text/javascript">
        $('#Save').click(function () {
            var url = "/JsonParser/FindValue";
            var jsonInput = $("#jsonInput").val();
            var keyInput = $("#keyInput").val();
            $.post(url, { jsonInput: jsonInput, keyInput: keyInput }, function (data) {
                $("#valueResult").html(data);
            });
        })
    </script>
}
