<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c79a4db8-e628-4a6b-9da6-7e30602a6b73/resourcegroups/test/providers/Microsoft.ContainerRegistry/registries/MyBookLibrary20230529184037</ResourceId>
    <ResourceName>MyBookLibrary20230529184037</ResourceName>
    <ResourceGroup>test</ResourceGroup>
    <Subscription>sankumar31@publicisgroupe.net</Subscription>
    <RegistryUrl>https://mybooklibrary20230529184037.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7cf9458b-b1ca-4762-818b-84727662cddb</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>